html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* para aparelhos com até 600px de largura */

@media screen and (max-width: 600px) {
  body {
    background-color: #2A0944;
    color: #FEC260;
    padding: 20px;
  }
  li:hover {
    color: #A12568;
  }
  li {
    list-style: none;
  }
  h1, h2, h3 { 
    font-weight: 150;
  }
  /* CABEÇALHO */
  header {
    background-color: #3B185F;
    border-radius: 20px;
    padding-top: 3px;
  }
  header p {
    text-align: center;
    font-size: 2em;
  }
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
  }
  header ul {
    width: fit-content;
    display: flex;
    padding-left: 0;
  }
  header li {
    list-style: none;
    margin: 0 5px;
    cursor: pointer;
  }
  /* FIM DO CABEÇALHO */
  /* ASIDE ONE */
  .aside-one {
    margin-top: 20px;
    background-color: #3B185F;
    border-radius: 20px;
    padding: 5px;
  }
  .aside-one h2 {
    text-align: center;
  }
  /* FIM DO ASIDE ONE */
  /* ASIDE TWO */
  .aside-two {
    margin-top: 20px;
    background-color: #3B185F;
    border-radius: 20px;
    padding: 5px;
  }
  .aside-two h2 {
    text-align: center;
  }
  /* FIM DO ASIDE TWO */
  /* MAIN CONTENT */
  .main-content {
    margin-top: 20px;
    background-color: #3B185F;
    border-radius: 20px;
    padding: 10px;
  }
  .main-content h1 {
    text-align: center;
  }
  /* MAIN CONTENT */
  footer {
    background-color: #3B185F;
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
  }
}