[submodule "Modulo1-Fundamentos/Bloco2-Git,GitHub_e_Internet/Curso_Udacity/blog-project"]
	path = Modulo1-Fundamentos/Bloco2-Git,GitHub_e_Internet/Curso_Udacity/blog-project
	url = https://github.com/udacity/course-git-blog-project
