body {
    background-color: #1d1d1d;
    color: white;
}

#nome {
    font-size: 20px;
}

.destaque {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: green;
}

a{
    color:white;
}
