body {
    background-color: #E1E289;
}

#nome {
    font-size: 20px;
}

.destaque {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #0A210F;
}

.l1 {
    font-size: 14px;
}

.l2 {
    font-size: 15px;
}

.l3 {
    font-size: 16px;
}

.l4 {
    font-size: 17px;
}