body {
    background-color: #1d1d1d;
    color: white;
}

#nome {
    font-size: 20px;
    text-align: center;
}

#port{
    text-align: center;
}

.destaque {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: green;
}

a{
    color:white;
    text-decoration: none;
}

#foto{
    display: inline-block;
    background-color: grey;
    margin: 20px 20px 20px 0px;
    width: 160px;
    height: 160px;
    text-align:center;
    padding: 5px;
    border: 1px solid black;
}

#header{
    padding: 5px;
    margin: 10px;
    margin-left: 0;
}

#foto_de_perfil{
    margin: 5px;
}

#information{
    display: inline-block;
    position: absolute;
    margin-top: 20px;
}

li a:hover{
    color: green;
}

h3{
    font-weight: normal;
}