#root h1 {
  text-align: center;
}

.pokemonsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.pokemon {
  border: 2px solid black;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  min-width: 200px;
}